{% extends 'base.html' %}

{% load i18n %}

{% block title %} Home {% endblock %}

{% block content %}
{{current_year}}
{{current_date}}
    <div class="jumbotron">
        <h1>{{ LANGUAGE_CODE }}</h1>
        <h1 class="display-4">{% trans "Welcome!" %}</h1>
        <p class="lead">{% trans 'This is a simple project with Django, my first actually, I hope you like it, mile' %}</p>
        <hr class="my-4">
        {% if not user.is_authenticated %}
            <p>Register to use all features.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Sign up</a>
            </p>
        {% endif %}
    </div>
{% endblock %}