{% extends 'base.html' %} 
{% block title %} Order Detail List {% endblock %}

{% block content %} 
{% if user.is_authenticated and user.is_staff%}
<table class="table">
        <thead>
                <tr>
                        <th>Order</th>
                        <th>Product</th>
                        <th>Quantity</th>
                </tr>
        </thead>
        <tbody>
                {% for order in orders %}
                <tr>
                        <td scope="row">{{order.order}} </td>
                        <td>{{order.product}}</td>
                        <td>{{order.quantity}}</td>
                        <td> <a href="#" class="fa fa-eye" aria-hidden="true">Editar</a></td>
                        <td> <a href="#" class="fa fa-trash" aria-hidden="true">Delete</a></td>
                </tr>
                {% endfor %}
                <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                </tr> 
        </tbody>
</table>
<li>
        
        <a href="{% url 'order_detail_create' %}" class="btn btn-success">Create Order Detail</a>
    </li>
{% else %}
<h5>Usted no se encuentra logueado para acceder</h5>
{% endif %}
{% endblock %}
 